.member-list {
  list-style: none;    /* 去掉外层点点 */
  padding: 0;
  margin: 0;
}

.member-list > li {
  display: flex;       /* 名字和学号在一行 */
  justify-content: space-between; /* 左右对齐 */
  margin-bottom: 8px;
}

.student-id {
  list-style: none;    /* 去掉内层点点 */
  margin: 0;
  padding: 0;
}
